.container {
  max-width: 700px;
  padding: 40px 4%;
  margin: 0 auto;
  @include medium {
    padding: 4%;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.row {
  clear: both;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
